
{% extends 'base.html.twig' %}

{% block header %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('main_secure_index')}}">Symfony Blog Admin</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{path('secure_category_index')}}">Category</a>
                    </li>
                    <li>
                        <a href="{{path('secure_post_index')}}">Posts</a>
                    </li>
                    <li>
                        <a href="{{path('secure_comment_index')}}">Comments</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{path('_logout')}}">Logout <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
